<header th:fragment="frags/header.html">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="/" style="display: flex;justify-content: space-around;">
            <img th:src="@{/img/bay_32.png}" alt="app_log_nav"> <span style="margin-left: 5px;">BayShop</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" th:unless="${session.u}">
                    <a class="nav-link" th:href="@{/login}">Login<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
                </li>
                <li class="nav-item" th:if="${session.u}">
                    <a class="nav-link" th:href="@{/producto/crear}">Nuevo Producto<span class="sr-only"></span></a>
                </li>
                <li class="nav-item dropdown" th:if="${session.u}">
                    <a class="nav-link dropdown-toggle" th:href="@{/perfil/{id}(id=${session.u.id})}" id="dropdown04" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mi perfil</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown04">
                        <a class="dropdown-item" th:href="@{/perfil/{id}(id=${session.u.id})}">Mis datos</a>
                        <a class="dropdown-item" th:href="@{/logout}">Cerrar sesión</a>
                    </div>
                </li>
            </ul>
        </div>
        <th:block th:if="${session.u}">
            <div th:if="${session.rolemoderator} or ${session.roleadmin}" class="actions">
                <a th:if="${session.roleadmin}" th:href="@{/admin/}" class="btn btn-dark btn-sm">Administrador <i class="fa fa-unlock-alt"></i></a>
                <a th:if="${session.rolemoderator}" th:href="@{/revisor/}" class="btn btn-dark btn-sm">Validar productos <i class="fa fa-list-alt"></i></i></a>
            </div>
        </th:block>
    </nav>
</header>