<!DOCTYPE html>
<html lang="es">
<head th:replace="frags/head.html">
    <!-- Resto de recursos especificos de cada pagina -->
</head>
<body class="admin">
    <header th:replace="frags/header.html"></header>

    <div class="container mt-5">
        <h2>Todos los usuarios</h2>
        <table class="table table-striped all-users">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">e-mail</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Roles</th>
                    <th scope="col">Activo</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="u: ${users}">
                    <td th:text="${u.id}"></td>
                    <td th:text="${u.username}"></td>
                    <td th:text="${u.email}"></td>
                    <td th:text="${u.firstName} + ' ' + ${u.lastName}"></td>
                    <td th:text="${u.roles}"></td>
                    <td th:text="${u.enabled} ? 'Si' : 'No'"></td>
                    <td th:data-id="${u.id}">
                        <button class="btn btn-primary btn-sm bt-editUser">Editar <i class="fa fa-pencil"></i></button>
                        <button class="btn btn-warning btn-sm bt-disableUser" data-enable="0">Desactivar <i class="fa fa-exclamation"></i></button>
                        <button class="btn btn-success btn-sm bt-enableUser" data-enable="1">Activar <i class="fa fa-check"></i></button>
                        <button class="btn btn-danger btn-sm bt-removeUser">Eliminar <i class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>

        <h2>Todos los productos</h2>
        <table class="table table-striped all-products">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Activado</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="p: ${products}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.name}"></td>
                    <td th:text="${p.price} + '€'"></td>
                    <td th:text="${p.status}"></td>
                    <td th:text="${p.enabled} ? 'Si' : 'No'"></td>
                    <td th:data-id="${p.id}">
                        <button class="btn btn-primary btn-sm bt-editProduct">Editar <i class="fa fa-pencil"></i></button>
                        <button class="btn btn-warning btn-sm bt-disableProduct">Desactivar <i class="fa fa-exclamation"></i></button>
                        <button class="btn btn-success btn-sm bt-enableProduct">Activar <i class="fa fa-check"></i></button>
                        <button class="btn btn-danger btn-sm bt-deleteProduct">Eliminar <i class="fa fa-trash-o"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>