<!DOCTYPE html>
<html lang="es">

<head th:replace="frags/head.html">
    <!-- Resto de recursos especificos de cada pagina -->
</head>

<body>
    <header th:replace="frags/header.html"></header>

    <h1>Administrador</h1>

    <div class="row main-div">
        <div class="col-xs-12 col-md-4 web-logo">
            <form method="POST" action="/usuarios/eliminar">
                <table>
                    <h2>Usuarios</h2>
                    <tr th:each="u: ${users}">
                        <td>
                            <p th:text="${u.email}"></p>
                        </td>
                        <td>
                            <a th:href="@{}" class="btn btn-primary">Eliminar<i class="fa fa-eye"></i></a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div class="col-xs-12 col-md-8 form">
            <form method="POST" action="/producto/eliminar">
                <table>
                    <h2>Productos</h2>
                    <tr th:each="p: ${products}">
                        <td>
                            <p th:text="${p.name}"></p>
                        </td>
                        <td>
                            <a th:href="@{}" class="btn btn-primary">Eliminar<i class="fa fa-eye"></i></a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</body>

</html>