<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!-- Icon -->
    <!--div>Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></!--div-->
    <link rel="icon" th:href="@{/img/bay_32.png}">

    <!-- CSS stylesheets -->
    <link rel="stylesheet" th:href="@{/css/compra.css}">

    <!-- JS scripts -->
    <script th:src="@{/js/compra.js}"></script>

    <title>BayShop - Resumen de compra</title>
</head>
<body>
    <header>
        <nav th:replace="frags/header.html"></nav>
    </header>

    <div class="container main-div">
        <div class="row all-info">
            <div class="col-xs-12 col-md-6 info">
                <h2 class="title">Realizar compra</h2>
                <h5>Producto a comprar:</h5>
                <div class="item product">
                    <span class="info-item">Sudadera roja con capucha</span>
                    <span class="description"><span class="product-price">25</span> €</span>
                </div>

                <div class="separator"></div>

                <h5>Mis puntos:</h5>
                <div class="item actual">
                    <span class="info-item">Tienes:</span>
                    <input type="hidden" data-key="baypoints" value="1650"> <!-- max user points-->
                    <span class="description"><span class="baypoints">1650</span> BayPoints</span>
                </div>
                <div class="item purchase">
                    <span class="info-item">En esta compra quiero gastar:</span>
                    <input type="number" min="0" max="1650" class="form-control input-sm" value="0" data-key="baypoints_selector"> <!-- max user points-->
                </div>
                <div class="item final">
                    <span class="info-item">Mis puntos restantes:</span>
                    <span class="description"><span class="baypoints">1650</span> BayPoints</span> <!-- final user points-->
                </div>

                <div class="separator"></div>

                <h5>Descuento:</h5>
                <div class="item discount">
                    <span class="info-item">Con <span class="baypoints_">0</span> BayPoints ahorras</span>
                    <span class="description"><span class="discount-price">0</span> €</span>
                </div>

                <div class="separator"></div>

                <h5>Total:</h5>
                <div class="item total">
                    <span class="info-item">Total de la compra</span>
                    <span class="description"><span class="total_price">25</span> €</span>
                </div>

                <div class="separator"></div>

                <button class="btn btn-primary btn-sm">Comprar <i class="fa fa-shopping-cart"></i></button>
            </div>
            <div class="col-xs-12 col-md-1 none"></div>
            <div class="col-xs-12 col-md-5 product">
                <div class="product-img">
                    <img src="https://i.picsum.photos/id/866/200/300.jpg?hmac=rcadCENKh4rD6MAp6V_ma-AyWv641M4iiOpe1RyFHeI" alt="product_image" class="img-fluid img-thumbnail">
                </div>
            </div>
        </div>
    </div>
</body>
</html>