<!DOCTYPE html>
<html lang="es">

<head th:replace="frags/head.html">
    <!-- Resto de recursos especificos de cada pagina -->
</head>

<body>
    <header th:replace="frags/header.html"></header>

    <div id="indexProducts" class="row main-div p-5">
        <div class="col-xs-12 col-md-12 form text-center">
            <form method="GET" action="/buscar">
                <div class="input-group">
                    <input type="text" name="query" class="form-control" placeholder="Buscar productos...">
                    <button type="submit" class="btn btn-primary">Buscar <i class="fa fa-search"></i></button>
                </div>
            </form>
        </div>
        <div class="col-sm-4 col-lg-3 p-4 text-center" th:each="p: ${prod}">
            <div th:data-id="${p.id}" class="producto">
                <a th:href="@{/producto/{id}(id=${p.id})}">
                    <img class="img-fluid py-4" th:src="@{/producto/api/photo/{id}(id=${p.id})}" alt="Imagen Producto">
                </a>
                <h3 th:text="${p.price} + ' €'"></h3>
                <h5 class="p-2" th:text="${p.name}"></h5>
                <a th:href="@{/producto/{id}(id=${p.id})}" class="btn btn-primary mb-2 bayshop-product">Ver Producto <i class="fa fa-eye"></i></a>
                <div th:data-id="${p.id}" th:if="(${session.rolemoderator} or ${session.roleadmin}) and ${revisar} eq true">
                    <button class="btn btn-success bt-validateProduct" data-enable="1" style="width: 70px;"><i class="fa fa-check"></i></button>
                    <button class="btn btn-danger bt-rejectProduct" data-enable="0" style="width: 70px;"><i class="fa fa-times"></i></button>
                </div>
            </div>
            
        </div>
    </div>


    </div>
</body>

</html>