<!DOCTYPE html>
<html lang="es">

<head th:replace="frags/head.html">
    <!-- Resto de recursos especificos de cada pagina -->
</head>

<body>
    <header th:replace="frags/header.html"></header>

    <div class="row main-div p-5">
        <div class="col-xs-12 col-md-12 form text-center">
            <form method="GET" action="/">
                <div class="form-group">
                    <input type="" class="" placeholder="Buscar porductos">
                    <button type="submit" class="btn btn-primary">Buscar <i class="fa fa-sign-in"></i></button>
                </div>
            </form>
        </div>

        <div class="col-sm-4 col-lg-3 p-4 text-center" th:each="p: ${prod}">
            <a th:href="@{/producto/{id}(id=${p.id})}">
                <img class="img-fluid my-3" th:src="@{/img/bay_512.png}" alt="Imagen Producto">
            </a>
            <h3 th:text="${p.price} + ' €'"></h3>
            <p th:text="${p.name}"></p>
            <a th:href="@{/producto/{id}(id=${p.id})}" class="btn btn-primary">Ver Producto <i class="fa fa-eye"></i></a>
        </div>
    </div>


    </div>
</body>

</html>