<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!-- Icon -->
    <!--div>Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></!--div-->
    <link rel="icon" th:href="@{/img/bay_32.png}">

    <!-- CSS stylesheets -->
    <link rel="stylesheet" th:href="@{/css/login.css}">

    <title>BayShop - Leeme</title>
</head>
<body>
    <div class="container">
        <h1>Vistas disponibles en la aplicación:</h1>
        <ul>
            <li>Vista login y register: <a href="localhost:8080/login">aquí</a> y <a href="localhost:8080/register">aquí</a> respectivamente</li>
            <li>Vista principal de todos los productos: <a href="localhost:8080/">aquí</a></li>
            <li>Vista detallada de un producto: <a href="localhost:8080/producto/id">aquí</a></li>
            <li>Vista del revisor de contenido: <a href="localhost:8080/revisor/">aquí</a></li>
            <li>Vista del administrador: <a href="localhost:8080/admin/">aquí</a></li>
            <li>Vista para crear un producto: <a href="localhost:8080/producto/crear">aquí</a></li>
            <li>Vista perfil de un usuario: <a href="localhost:8080/perfil/id">aquí</a></li>
            <li>Vista principal de todos los mensajes: <a href="localhost:8080/mensajes/">aquí</a></li>
            <li>Vista detallada de un mensaje: <a href="localhost:8080/mensajes/idU/idP">aquí</a></li>
            <li>Vista detallada del resumen de tu compra: <a href="localhost:8080/compra/">aquí</a></li>
        </ul>

        <h1>Recursos usados</h1>
        <ul>
            <li>
                Logo de la aplicación: el logo lo hemos descargado de <a href="flaticon.es">flaticon</a>, pudiendo usarlo en nuestra aplicación siempre que se atribuya el logo al autor, como <a href="https://support.flaticon.com/hc/en-us/articles/207248209-How-I-must-insert-the-attribution-">nombra</a> en su propia web (logo en cuestión: <a href="https://www.flaticon.es/icono-gratis/bahia_1788595?term=bahia&page=1&position=9&page=1&position=9&related_id=1788595&origin=search">aquí</a>).
            </li>
            <li>
                jQuery 3.2.1 (<a href="https://code.jquery.com/">download</a>): 
            </li>
            <li>
                Bootstrap 4.0.0 (<a href="https://getbootstrap.com/docs/4.0/getting-started/introduction/">download</a>): 
            </li>
            <li>
                Font Awesome 4.7.0 (<a href="https://fontawesome.com/v4.7.0/get-started/">download</a>): 
            </li>
            <li>
                Fuente de la web (<a href="https://fonts.googleapis.com/css2?family=Poppins&display=swap">aquí</a>):
            </li>
        </ul>
    </div>
</body>
</html>