<!DOCTYPE html>
<html lang="es">
<head th:replace="frags/head.html">
    <!-- Resto de recursos especificos de cada pagina -->
</head>
<body class="auth">
    <div class="row main-div-auth">
        <div class="col-xs-12 col-md-4 web-logo">
            <!--div>Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></!--div-->
            <img th:src="@{/img/bay_128.png}" alt="web logo">
        </div>
        <div class="col-xs-12 col-md-8 form">
            <form method="POST" th:action="@{/user/login}">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" class="form-control" id="username">
                </div>
                <div class="form-group">
                    <label for="password">Contraseña</label>
                    <div class="input-group">
                        <input type="password" name="password" class="form-control" id="password">
                        <div class="input-group-append">
                            <span class="input-group-text change" data-action="show">
                                <i class="fa fa-eye"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Iniciar sesión <i class="fa fa-sign-in"></i></button>
            </form>
        </div>
    </div>
</body>
</html>