<!DOCTYPE html>
<html lang="es">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!-- Icon -->
    <link rel="icon" th:href="@{/img/bay_32.png}">
    <link rel="stylesheet" th:href="@{/css/mensajes.css}">

    <title>BayShop - Mensajes</title>
</head>

<body>
    <header>
        <nav th:replace="frags/header.html"></nav>
    </header>
    <div class ="contenedor">

        <div class="fa-border fondo">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Correo <span class="caret"></span>
                </button>
            
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Recibidos</a></li>
                    <li><a href="#">Enviados</a></li>
                    <li><a href="#">Eliminados</a></li>
                </ul>
            </div>
        </div>

        <div class="fa-border">
            <div class="row justify-content-center">
                <div class="col justify-content-center margin">
                    <div class="row justify-content-center">
                        <label for="text">Titulo del mensaje</label>
                    </div>
                    <div class="row justify-content-center">
                        <label for="text">Asunto del mensaje</label>
                    </div>
                    <div class="row justify-content-center">
                        <a href="">Autor del mensaje</a>
                    </div>
                </div>
                <div class="col fondo">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex, harum. Labore voluptatibus consequuntur obcaecati delectus qui, asperiores molestiae, impedit minus hic vitae cum cumque voluptate aut harum quo ipsum tempore?
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti quisquam mollitia ullam, voluptatem veniam fuga omnis. Libero laborum beatae numquam nobis quia excepturi dolorem corrupti repellendus quisquam error. Ratione, veritatis.
                    </p>    
                </div>
                <div class="col justify-content-center">
                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-primary margin">Responder</button>
                    </div>
                    <div class="row justify-content-center margin">
                        <button type="submit" class="btn btn-primary">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="fa-border">
            <div class="row justify-content-center">
                <div class="col justify-content-center margin">
                    <div class="row justify-content-center">
                        <label for="text">Titulo del mensaje</label>
                    </div>
                    <div class="row justify-content-center">
                        <label for="text">Asunto del mensaje</label>
                    </div>
                    <div class="row justify-content-center">
                        <a href="">Autor del mensaje</a>
                    </div>
                </div>
                <div class="col fondo">
                    <p>
                        uam mollitia ullam, voluptatem veniam fuga omnis. Libero laborum beatae numquam nobis quia excepturi dolorem corrupti repellendus quisquam error. Ratione, veritatis.
                    </p>    
                </div>
                <div class="col justify-content-center">
                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-primary margin">Responder</button>
                    </div>
                    <div class="row justify-content-center margin">
                        <button type="submit" class="btn btn-primary">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="fa-border">
            <div class="row justify-content-center">
                <div class="col justify-content-center margin">
                    <div class="row justify-content-center">
                        <label for="text">Titulo del mensaje</label>
                    </div>
                    <div class="row justify-content-center">
                        <label for="text">Asunto del mensaje</label>
                    </div>
                    <div class="row justify-content-center">
                        <a href="">Autor del mensaje</a>
                    </div>
                </div>
                <div class="col fondo">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex, harum. Labore voluptatibus consequuntur obcaecati delectus qui, asperiores molestiae, impedit minus hic vitae cum cumque voluptate aut harum quo ipsum tempore?
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti quisquam mollitia ullam, voluptatem veniam fuga omnis. Libero laborum beatae numquam nobis quia excepturi dolorem corrupti repellendus quisquam error. Ratione, veritatis.
                    </p>    
                </div>
                <div class="col justify-content-center">
                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-primary margin">Responder</button>
                    </div>
                    <div class="row justify-content-center margin">
                        <button type="submit" class="btn btn-primary">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="fa-border">
            <div class="row justify-content-center">
                <div class="col justify-content-center margin">
                    <div class="row justify-content-center">
                        <label for="text">Titulo del mensaje</label>
                    </div>
                    <div class="row justify-content-center">
                        <label for="text">Asunto del mensaje</label>
                    </div>
                    <div class="row justify-content-center">
                        <a href="">Autor del mensaje</a>
                    </div>
                </div>
                <div class="col fondo">
                    <p>
                        Lorem, ipsum odshnfosd saondfv adsufi?
                    </p>    
                </div>
                <div class="col justify-content-center">
                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-primary margin">Responder</button>
                    </div>
                    <div class="row justify-content-center margin">
                        <button type="submit" class="btn btn-primary">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="fa-border">
            <div class="row justify-content-center">
                <div class="col justify-content-center margin">
                    <div class="row justify-content-center">
                        <label for="text">Titulo del mensaje</label>
                    </div>
                    <div class="row justify-content-center">
                        <label for="text">Asunto del mensaje</label>
                    </div>
                    <div class="row justify-content-center">
                        <a href="">Autor del mensaje</a>
                    </div>
                </div>
                <div class="col fondo">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex, harum. Labore voluptatibus consequuntur obcaecati delectus qui, asperiores molestiae, impedit minus hic vitae cum cumque voluptate aut harum quo ipsum tempore?
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti quisquam mollitia ullam, voluptatem veniam fuga omnis. Libero laborum beatae numquam nobis quia excepturi dolorem corrupti repellendus quisquam error. Ratione, veritatis.
                    </p>    
                </div>
                <div class="col justify-content-center">
                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-primary margin">Responder</button>
                    </div>
                    <div class="row justify-content-center margin">
                        <button type="submit" class="btn btn-primary">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="fa-border">
            <div class="row justify-content-center">
                <div class="col justify-content-center margin">
                    <div class="row justify-content-center">
                        <label for="text">Titulo del mensaje</label>
                    </div>
                    <div class="row justify-content-center">
                        <label for="text">Asunto del mensaje</label>
                    </div>
                    <div class="row justify-content-center">
                        <a href="">Autor del mensaje</a>
                    </div>
                </div>
                <div class="col fondo">
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex, harum. Labore voluptatibus consequuntur obcaecati delectus qui, asperiores molestiae, impedit minus hic vitae cum cumque voluptate aut harum quo ipsum tempore?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia exercitationem commodi autem explicabo placeat. Quo facere omnis officiis voluptate eligendi quos vitae, in voluptas rem ullam impedit nesciunt adipisci nisi?
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Deleniti quisquam mollitia ullam, voluptatem veniam fuga omnis. Libero laborum beatae numquam nobis quia excepturi dolorem corrupti repellendus quisquam error. Ratione, veritatis.
                    </p>    
                </div>
                <div class="col justify-content-center">
                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-primary margin">Responder</button>
                    </div>
                    <div class="row justify-content-center margin">
                        <button type="submit" class="btn btn-primary">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="fa-border">
            <div class="row justify-content-center">
                <div class="col justify-content-center margin">
                    <div class="row justify-content-center">
                        <label for="text">Titulo del mensaje</label>
                    </div>
                    <div class="row justify-content-center">
                        <label for="text">Asunto del mensaje</label>
                    </div>
                    <div class="row justify-content-center">
                        <a href="">Autor del mensaje</a>
                    </div>
                </div>
                <div class="col fondo">
                    <p>
                        Lquam mollitia ga omnis. Libero laborum beatae numquam nobis quia excepturi dolorem corrupti repellendus quisquam error. Ratione, veritatis.
                    </p>    
                </div>
                <div class="col justify-content-center">
                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-primary margin">Responder</button>
                    </div>
                    <div class="row justify-content-center margin">
                        <button type="submit" class="btn btn-primary">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    
</body>

</html>