<div class="popup-body">
    <style>
        .popup-body .label {
            font-weight: bold;
        }
        
        .popup-body .item {
            margin-bottom: 10px;
        }
    </style>
    <div class="item">
        <span class="label">Emisor:</span>
        <span th:text="${msg.sender.firstName} + ' (' + ${msg.sender.username} + ')'"></span>
    </div>
    <div class="item">
        <span class="label">Recpetor:</span>
        <span th:text="${msg.recipient.firstName} + ' (' + ${msg.recipient.username} + ')'"></span>
    </div>
    <div class="item">
        <span class="label">Fecha de envío:</span>
        <span th:text="${msg.dateSent}"></span>
    </div>
    <div class="item">
        <span class="label">Leído:</span>
        <span th:text="${msg.dateRead} ?: 'No'"></span>
    </div>
    <div class="item">
        <span class="label" style="display: block;">Mensaje:</span>
        <span th:text="${msg.text}"></span>
    </div>
</div>

<div class="popup-actions">
    <button class="btn btn-primary bt-close">Cerrar <i class="fa fa-times"></i></button>
</div>