<!DOCTYPE html>
<html lang="es">
<head th:replace="frags/head.html">
    <!-- Resto de recursos especificos de cada pagina -->
</head>
<body class="messages">
    <header th:replace="frags/header.html"></header>
    
    <div class="container">
        <div class="m-actions my-3">
            <a class="btn btn-primary" th:href="@{/mensajes/nuevo}">Nuevo mensaje <i class="fa fa-envelope-o"></i></a>
            <select class="form-control" style="width:auto;display:inline-block;" name="type">
                <option value="all">Todos</option>
                <option value="inbox">Recibidos</option>
                <option value="send">Enviados</option>
            </select>
        </div>
        <table class="table table-striped all-user-messages">
            <thead>
                <tr>
                    <th>Emisor</th>
                    <th>Receptor</th>
                    <th>Fecha</th>
                    <th>Leído</th>
                    <th>Mensaje</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr class="msg" th:data-id="${m.id}" th:each="m : ${inbox}" data-type="inbox">
                    <td th:text="${m.sender.firstName}"></td>
                    <td th:text="${m.recipient.firstName}"></td>
                    <td th:text="${m.dateSent}"></td>
                    <td class="status" th:text="${m.dateRead} ? 'Si' : 'No'"></td>
                    <td th:text="${m.text}"></td>
                    <td>
                        <div class="btn btn-light view-message"><i class="fa fa-eye"></i></div>
                        <div class="btn btn-light delete-message"><i class="fa fa-trash"></i></div>
                    </td>
                </tr>
                <tr class="msg" th:data-id="${m.id}" th:each="m : ${send}" data-type="send">
                    <td th:text="${m.sender.firstName}"></td>
                    <td th:text="${m.recipient.firstName}"></td>
                    <td th:text="${m.dateSent}"></td>
                    <td class="status" th:text="${m.dateRead} ? 'Si' : 'No'"></td>
                    <td th:text="${m.text}"></td>
                    <td><div class="btn btn-light view-message"><i class="fa fa-eye"></i></div></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>