<!DOCTYPE html>
<html lang="es">
<head th:replace="frags/head.html">
    <!-- Resto de recursos especificos de cada pagina -->
</head>
<body>
    <header th:replace="frags/header.html"></header>

    <div class="container">
        <div class="row main-div">
            <div class="col-xs-12 col-md-8 form">
                <form method="POST" th:action="@{/producto/create}">
                    <div class="form-group">
                        <label for="exampleInputImagen">Imagen</label>
                        <input type="file" class="form-control-file" id="exampleInputImage" placeholder="Image">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputTitle">Nombre</label>
                        <input type="text" name="name" class="form-control" id="exampleInputTitle" placeholder="Nombre...">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputDescription">Descripción</label>
                        <input type="text" name="description" class="form-control" id="exampleInputDescription" placeholder="Descripción...">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputType">Tipo de prenda</label>
                        <input type="text" name="categories" class="form-control" id="exampleInputType" placeholder="tipo1,tipo2...">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputSize">Talla</label>
                        <input type="text" name="size" class="form-control" id="exampleInputSize" placeholder="M, S, 40, 42...">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputSize">Precio</label>
                        <input type="number" name="price" class="form-control" id="exampleInputSize" min="0" step="0.5">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputBrand">Marca</label>
                        <input type="text" name="brand" class="form-control" id="exampleInputBrand" placeholder="Marca...">
                    </div>
                    <button type="submit" class="btn btn-primary">Subir<i class="fa fa-sign-in"></i></button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>