<!DOCTYPE html>
<html lang="es">

<head th:replace="frags/head.html">
    <!-- Resto de recursos especificos de cada pagina -->
</head>

<body>
    <header th:replace="frags/header.html"></header>

    <div class="row main-div p-5 product-details">
        <div id="imgProducto" class="col-md-6 text-center">
            <!-- <div>Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></div> -->
            <img class="img-fluid" th:src="@{/producto/api/photo/{id}(id=${p.id})}" alt="Imagen Producto">
        </div>
        <div class="col-md-6 p-4">
            <h2 th:text="${p.name}"></h2>
            <h5> Vendedor:
                <a th:href="@{/perfil/{id}(id=${p.user.id})}" th:text="''+ ${p.user.getFirstName()}"></a>
            </h5>
            <h5 th:text="'Marca: ' + ${p.brand}"></h5>
            <h5 th:text="'Talla: ' + ${p.size}"></h5>
            <h5>Fecha de subida:</h5>
            <p th:text="${p.creationDate}"></p>
            <h5>Descripción:</h5>
            <p th:text="${p.description}"></p>
            <h3 class="mb-4" th:text="'Precio: ' + ${p.price} + ' €'"></h3>
            
            <div>
                <a th:if="${session.u.hasRole('USER')} and (${p.user.id != session.u.id})" th:href="@{/compra/{id}(id=${p.id})}" class="btn btn-primary buy-product">Comprar <i class="fa fa-shopping-cart"></i></a>
                <a th:if="${session.roleadmin} or ${session.rolemoderator}" th:href="@{/revisor/validar/{id}(id=${p.id})}" class="btn btn-success">Validar <i class="fa fa-check"></i></a>
                <a th:if="${session.roleadmin} or ${session.rolemoderator}" th:href="@{/revisor/rechazar/{id}(id=${p.id})}" class="btn btn-danger">Rechazar <i class="fa fa-times"></i></a>
                <a th:if="${session.roleadmin} or ${session.rolemoderator} or (${p.user.id == session.u.id})" th:href="@{/producto/delete/{id}(id=${p.id})}" class="btn btn-warning">Eliminar <i class="fa fa-exclamation"></i></a>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col text-center mt-4" th:if="${session.u.hasRole('USER')}">
            <h4>Otros Productos sugeridos</h4>
        </div>
        <div class="col text-center mt-4" th:if="${session.u.hasRole('MODERATOR')} or ${session.u.hasRole('ADMIN')}">
            <h4>Otros Productos del Vendedor</h4>
        </div>

        <div id="otrosProductos" class="row m-5">
            <div class="col-sm-3 col-lg-2 m-2 text-center" th:each="p: ${prod}">
                <a th:href="@{/producto/{id}(id=${p.id})}">
                    <img class="img-fluid my-3" th:src="@{/producto/api/photo/{id}(id=${p.id})}" alt="Imagen Producto">
                </a>
                <h3 th:text="${p.price} + ' €'"></h3>
                <p th:text="${p.name}"></p>
                <a th:href="@{/producto/{id}(id=${p.id})}" class="btn btn-primary">Ver Producto <i class="fa fa-eye"></i></a>
            </div>
        </div>
    </div>

</body>

</html>