<div class="popup-body">
    <p>Esto es una prueba para solicitar contenido HTML para insertarlo en popups dinamicos en la web.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Id maxime illum obcaecati magni cumque laudantium possimus pariatur ad dolor eligendi.</p>
    <span>Mi nombre es: <span th:text='${data.getAttr("name")}'>default</span></span>
</div>

<!-- footer optional -->
<div class="popup-actions">
    <button class="btn btn-primary btn-sm bt-close">Cerrar <i class="fa fa-times"></i></button>
</div>