<!DOCTYPE html>
<html lang="es">
<head th:replace="frags/head.html">
    <!-- Resto de recursos especificos de cada pagina -->
</head>
<body class="auth">
    <div class="row main-div-auth">
        <div class="col-xs-12 col-md-4 web-logo">
            <!-- <div>Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></div> -->
            <img th:src="@{/img/bay_128.png}" alt="web logo">
        </div>
        <div class="col-xs-12 col-md-8 form">
            <form method="POST" th:action="@{/user/create}" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" name="name" class="form-control" id="name">
                </div>
                <div class="form-group">
                    <label for="lastName">Apellidos</label>
                    <input type="text" name="lastName" class="form-control" id="lastName">
                </div>
                <div class="form-group">
                    <label for="username">Nombre de usuario</label>
                    <input type="text" class="form-control" name="username" id="username">
                </div>
                <div class="form-group">
                    <label for="password1">Contraseña</label>
                    <div class="input-group">
                        <input type="password" name="password1" class="form-control" id="password1" placeholder="Contraseña...">
                        <div class="input-group-append">
                            <span class="input-group-text change" data-action="show">
                                <i class="fa fa-eye"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password2">Repetir contraseña</label>
                    <div class="input-group">
                        <input type="password" name="password2" class="form-control" id="password2" placeholder="Contraseña...">
                        <div class="input-group-append">
                            <span class="input-group-text change" data-action="show">
                                <i class="fa fa-eye"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="username">Imagen de perfil</label>
                    <input type="file" class="form-control" name="profileImg" id="profileImg">
                </div>
                <button type="submit" class="btn btn-primary">Crear cuenta <i class="fa fa-plus"></i></button>
            </form>
        </div>
    </div>
</body>
</html>