<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg==" crossorigin="anonymous" />

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <!-- Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

    <!-- Icon -->
    <!--div>Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></!--div-->
    <link rel="icon" th:href="@{/img/bay_32.png}">

    <!-- CSS stylesheets and JS scripts -->
    <link rel="stylesheet" th:href="@{/css/auth.css}">
    <script th:src="@{/js/auth.js}"></script>

    <title>BayShop - Crear cuenta</title>
</head>
<body>
    <div class="row main-div">
        <div class="col-xs-12 col-md-4 web-logo">
            <!-- <div>Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></div> -->
            <img th:src="@{/img/bay_128.png}" alt="web logo">
        </div>
        <div class="col-xs-12 col-md-8 form">
            <form method="POST" action="/register/create">
                <div class="form-group">
                    <label for="email">Correo electrónico *</label>
                    <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="user@email.es">
                    <small id="emailHelp" class="form-text text-muted">Debe ser una dirección de email válida.</small>
                </div>
                <div class="form-group">
                    <label for="password1">Contraseña *</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="password1" placeholder="Contraseña...">
                        <div class="input-group-append">
                            <span class="input-group-text change" data-action="show">
                                <i class="fa fa-eye"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="password2">Repetir contraseña *</label>
                    <div class="input-group">
                        <input type="password" class="form-control" id="password2" placeholder="Contraseña...">
                        <div class="input-group-append">
                            <span class="input-group-text change" data-action="show">
                                <i class="fa fa-eye"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="date">Fecha de nacimiento</label>
                    <input type="date" class="form-control" id="date">
                </div>
                <button type="submit" class="btn btn-primary">Crear cuenta <i class="fa fa-plus"></i></button>
            </form>
        </div>
    </div>
</body>
</html>